* {
  /* where universal stuff like font information would go */
  color: white;
  font-family: lemon, sans-serif;
  font-size: 1.3rem;
}

#viewwindow {
  width: 90vw;
  height: 90vw;
  background-image: url("/assets/images/scenes/placeholderbg.png");
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 1%;
}

#textbox {
  width:60vw;
  height:15vw;
  position: relative;
  padding-top: 30vw;
  margin-left: 3vw;
}

#cream {
  position: relative;
  border: 0;
  width: 26vw;
  height: 37vw;
  margin-left: 64vw;
  padding-bottom: 100vw;
}
