* {
  /* where universal stuff like font information would go */
  color: white;
  font-family: lemon, sans-serif;
  font-size: 1.3rem;
}

#viewwindow {
  width: 90vw;
  height: 90vh;
  background-image: url("/assets/images/scenes/placeholderbg.png");
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 1%;
}

#textbox {
  width:55vw;
  height:15vw;
  position: relative;
  padding-top: 30vw;
  padding-left: 20%;
  margin-left: 3vw;
}

#portraits {
  position: absolute;
  top: 10px;
  left: 10px;
  width:1vw;
  height:1vh;
  padding-top: 15.5%;
  padding-left: 5%;
}

#cream {
  position: relative;
  border: 0;
  width: 26vw;
  height: 37vw;
  margin-left: 64vw;
  margin-bottom: 10%;
}

#nextarrow {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 0;
  width: 5vw;
  height:5vw;
  padding-left: 1000%;
  padding-top: 600%;
}
