body {
  background-color: #421365;
}

#haiku {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  padding-left: 40%;
  padding-top: 10%;
}

#speakerbutton {
  padding-left: 44%;
}
